streamlit
python-dotenv
langchain
langchain-community
langchain-core
langgraph
arxiv
pydantic
tiktoken
PyMuPDF
pinecone
sentence-transformers
openai
google-generativeai
duckduckgo-search
yfinance
aiohttp
